[submodule "packages/ui"]
	path = packages/ui
	url = git@github-work:DonaldNgai/ChakraUI.git
[submodule "packages/next-utils"]
	path = packages/next-utils
	url = git@github-work:DonaldNgai/NextUtils.git
